[submodule "modbuslib"]
        path = modbuslib
        url = git@github.com:camradelingorg/modbuslib.git
[submodule "channellib"]
        path = channellib
        url = git@github.com:camradelingorg/channellib.git
[submodule "threadlib"]
        path = threadlib
        url = git@github.com:camradelingorg/threadlib.git
