[submodule "modbuslib"]
        path = modbuslib
        url = https://github.com/camradeling/modbuslib.git
[submodule "channellib"]
        path = channellib
        url = https://github.com/camradeling/channellib.git
[submodule "threadlib"]
        path = threadlib
        url = https://github.com/camradeling/threadlib.git