[submodule "modbuslib"]
	path = modbuslib
	url = git@github.com:camradeling/modbuslib.git
[submodule "channellib"]
	path = channellib
	url = git@github.com:camradeling/channellib.git
[submodule "threadlib"]
	path = threadlib
	url = git@github.com:camradeling/threadlib.git
