<Configuration Version="2.0">
	<Logger>true</Logger>
	<CliChannels>
		<Channel Type="COMPort" Alias="COM1" Function="any">
			<Device>/dev/ttyACM0</Device>
			<Bits>8</Bits>
			<Parity>None</Parity>
			<StopBits>1</StopBits>
			<Speed>115200</Speed>
			<HardwareControl>false</HardwareControl>
		</Channel>>
	</CliChannels>
</Configuration>